#bio{
max-width:620px;
max-height:345px;
background-image:url('./FrontPageVisu/Hello.png');
border-radius:20px;
border:3px solid #b40c03;
margin:1%;
}

#profilPic{
position:relative;
float:left;
max-width:125px;
border-radius:50%;
margin-top:1.5%;
margin-left:2%;
}

h6{
font-family:Melbo, Brush Script MT, cursive;
}

#pseudo{
position:relative;
font-size:550%;
top:-80px;
text-align:center;
margin-bottom:0px;
transform:rotate(-4deg);
}

#like{
position:relative;
top:-115px;
left:15%;
font-size:250%;
}

#dislike{
position:relative;
top:-255px;
left:62%;
font-size:250%;
}

#imageRandomizer{
background:#9FE2BF; /* Seafoam Green */
height:400px;
width:400px;
border-radius:5px;
border:3px solid #dda0dd; /*Plum*/
padding:2%;
}

#disclaimer{
display:block;
background:white;
height:350px;
width:350px;
border-radius:5px;
border:3px solid #dda0dd; /*Plum*/
text-align:center;
cursor:pointer;
}

#randomImage{
display:none;
cursor:pointer;
height:350px;
width:350px;
border-radius:5px;
border:3px solid #dda0dd; /*Plum*/
}
