.mtgFormat{
background:url('./MtGVisu/MtGCardBack90.png');
background-size:cover;
display:none;
padding:1%;
width:97%;
}

.cz{
height:25%;
width:25%;
}

.cz:hover{
cursor:pointer;
filter:saturate(3);
}


